<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 20px;
        }

        #nav {
            display: inline-block;
            width: 20%;
        }

        #content {
            display: inline-block;
            width: 60%;
        }
    </style>
</head>
<body>
    <div id="nav">
        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
        </ul>
    </div>

    <div id="content">
        {{ content }}
    </div>
</body>
</html>
